[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

faker = "*"
flask = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
flask-script = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
text-unidecode = "*"


[dev-packages]



[requires]

python_version = "3.6"
